<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2><u>Welcome to the Admin Side</u></h2>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <div class="row">
            <div class="col-5">
                <h3><u>All registered users</u></h3>
                <% for(var i=0;i<users.length;i++){%>
                    <br>
                    <a href="/getTexts/<%=users[i]._id%>" style="color: white;font-size: large;background-color: black;text-decoration: none;padding:15px;margin:5px;"><%=users[i].username%></a>
                    <br>
                    <br>
                <%}%>
            </div>
            <div class="col-5">
                <h2><u>All entered texts</u></h2>
                <% for(var i=0;i<texts.length;i++){%>
                    <h5>
                        <%=texts[i].message%>
                    </h5>
                <%}%>
            </div>
            <div class="col-2">

            </div>
        </div>
    </div>
</body>
</html>