<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container">
        <h2><u>Welcome to the Blog Site <%=user.username%></u></h2>
        <h3>Your email id is :- <%=user.email%></h3>
        <a href="/logout" class="btn btn-danger">Logout</a>
        <div class="row">
            <div class="col-3"></div>
            <div class="col-3">
                <form action="/addmessage" method="POST">
                    <div class="form-group">
                        <label for="message">Enter message:</label>
                        <input type="text" name="message" class="form-control" placeholder="Enter message" id="message">
                    </div>
                    <button type="submit" class="btn btn-primary">ADD MESSAGE</button>
                </form>
            </div>
            <div class="col-6">
                <h3><u>Entered Texts</u></h3>
                <% for(var i=0;i<texts.length;i++){%>
                    <p><%=texts[i].message%></p>
                <%}%>
            </div>
        </div>
    </div>
</body>
</html>